<%- model_class = Feature -%>
<div class="page-header">
  <h1>Liste des features</h1>
  <p>Les lignes <span class="green">vertes</span> sont les features disponibles, les <span class="red">rouges</span> sont malheureusement déjà prises :(</p>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:plugin_name) %></th>
      <th><%= model_class.human_attribute_name(:level) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th>Link to the feature</th>
    </tr>
  </thead>
  <tbody>
    <% @features.each do |feature| %>
      <% if feature.user_id? %>
        <tr class="error">
      <% else %>
        <tr class="success">
      <% end %>
        <td><%= link_to feature.name, feature_path(feature) %></td>
        <td><%= feature.plugin_name %></td>
        <td><%= render :partial => "shared/stars", :locals => {:level => feature.level }%></td>
        <td><%= feature.description %></td>
        <td><%= link_to "Consulter la feature", feature_path(feature) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
