<div class="feature">
  <div class="page-header">
    <h1><%= @feature.name %></h1>
    <h3>Nom du plugin : <%= @feature.plugin_name %></h3>
    <p>Difficulté : <%= render :partial => "shared/stars", :locals => {:level => @feature.level} %></p>
  </div>
  <div>
    <p>Pour rappel le plugin a pour chemin <strong>plugins/<%= @feature.plugin_name.underscore %>.rb</strong>.</p>
    <p>
      <h4>Instructions</h4>
      <pre>
        <%= @feature.description %>
      </pre>

      <% if @feature == current_user.feature %>
        <h4><a class="slide">Voir la solution? (n00b)</a></h4>
        <pre class="slide" style="display:none;">
          <%= @feature.solution %>
        </pre>
      <% end %>

      <hr />
    <% unless current_user.has_feature? %>
      <h3><%= link_to("Carrément que ça me branche ! Je prend !", @feature, :method => :put) %></h3>
    <% end %>
    <% if @feature == current_user.feature %>
      Hey hey, c'est ta feature <%= current_user.name %> !
    <% end %>
    <% if admin? %>
      User :
      <% if @feature.user_id? %>
        <%= @feature.user.name %>
      <% else %>
        FOREVER ALONE
      <% end %>
    <% end %>
  </div>
</div>
